<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
</head>


{% include 'parts/modulos.view.html' %}

    <section class="home-page__section">
        {% for producto in listaProductos %}
        
            <article class="home-page__card">
                <h2 class="home-page__card-title {{ producto.media_size_class|default('') }}">{{ producto.descripcion_proyecto }}</h2>
                <p class="home-page__card-description">Estado: {{ producto.estado }}</p>
                <p class="home-page__card-description">Expte: {{ producto.nro_proyecto_productivo }}</p>
                <a href="/facturacion/productos/ver?id_producto={{ producto.id }}" class="home-page__button"> Ver Detalle </a>
            </article>
        {% endfor %}
    </section>


{% include "parts/cierre-modulos.view.html" %}

{% include 'parts/footer.view.html' %}
</body>
</html>