<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
    <script src="/assets/js/facturacion.js"></script>
</head>

{% include "parts/modulos.view.html" %}

<section class="container_facturacion">
    <div class="container mt-5">
        <h1 class="mb-4">Registrar Nueva Venta</h1>

        <form id="facturaForm" class="needs-validation" novalidate>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="fecha_factura" class="form-label">Fecha de Factura:</label>
                    <label class="form-control-plaintext" id="fecha_factura">{{ fecha_factura }}</label>
                </div>
            </div>

            <input type="hidden" id="monto_minimo_cuota" value="{{ monto_minimo_cuota }}">

            <div class="mb-3">
                <label for="nro_comprobante" class="form-label">Nro de Comprobante:</label>
                <input class="form-control" id="nro_comprobante" name="nro_comprobante" type="text" value="{{ nro_factura }}" readonly>
            </div>                            

            <label for="dependencia" class="form-label">Dependencia (Punto de Venta):</label>
            <select id="dependencia" name="dependencia" class="form-select" required>
                <option value="" {% if dependencia_id_user is not defined or dependencia_id_user == '' %}selected{% endif %}>Elija un destino</option>
                {% for dependencia in dependencias %}
                    {% set valor = dependencia.id %}
                    <option value="{{ valor }}" {% if valor == dependencia_id_user %}selected{% endif %}>
                        {% if dependencia.descripcion == "Falta descripción" %}
                            {{ dependencia.nombre_dependencia }}
                        {% else %}
                            {{ dependencia.descripcion }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
            
            <div class="mb-3">
                <label for="condicion_venta" class="form-label">Condición de Venta:</label>
                <select id="condicion_venta" name="condicion_venta" class="form-select" required>
                    <option value="" selected>Seleccione una opción</option>
                    {% for condicion in condicion_venta %}
                        <option value="{{ condicion }}">{{ condicion|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 d-none" id="cuotasContainer">
                <label for="selectCuotas" class="form-label">Cantidad de Cuotas:</label>
                <select id="selectCuotas" name="cantidad_cuotas" class="form-select">
                    <!-- Opciones generadas dinámicamente en JS -->
                </select>
            </div>

            <div class="mb-3">
                <label for="condicion_impositiva" class="form-label">Condición Impositiva:</label>
                <select id="condicion_impositiva" name="condicion_impositiva" class="form-select" required>
                    <option value="" selected>Seleccione una opción</option>
                    {% for condicion in condicion_impositiva %}
                        <option value="{{ condicion }}">{{ condicion|replace({'_': ' '})|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="total_facturado" class="form-label">Total Facturado:</label>
                <div class="form-control" id="total_facturado">0.00</div>
            </div>

            <div class="mb-3">
                <label for="agente" class="form-label">Agente:</label>
                <button type="button" id="openAgentModal" class="btn btn-secondary btn-sm">Seleccionar Agente</button>
                <span id="selectedAgent" class="ms-2">Ninguno</span>
                <span id="destino_agente" class="ms-2" name="destino_agente">Ningun Destino</span>
                <input type="hidden" id="agente" name="agente">
            </div>

            <div class="mb-3">
                <label for="productos" class="form-label">Productos:</label>
                <button type="button" id="addProduct" class="btn btn-primary btn-sm">Agregar Producto</button>
                <table id="productosTable" class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Proyecto Productivo</th>
                            <th>Precio Unitario</th>
                            <th>Importe</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="text-end">
                <button type="submit" id="submitFactura" class="btn btn-success">Confirmar Venta</button>
            </div>
        </form>
    </div>
</section>

<!-- Modal: Seleccionar Agente -->
<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel">Seleccionar Agente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="searchAgent" class="form-control mb-3" placeholder="Buscar agente">
                <table class="table table-hover" id="agentTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Accion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal: Seleccionar Producto -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Seleccionar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="searchProduct" class="form-control mb-3" placeholder="Buscar producto">
                <table class="table table-hover" id="productTable">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal flotante para mensajes -->
<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title" id="mensajeModalLabel">Atención</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body" id="mensajeModalContenido">
          <!-- Aquí va el mensaje dinámico -->
        </div>
      </div>
    </div>
  </div>  

{% include "parts/cierre-modulos.view.html" %}
{% include 'parts/footer.view.html' %}

</body>
</html>
