
{% include "parts/modulos.view.html" %}

    <div class="asignaciones-container">
        <h1>Asignaciones de Talleres</h1>
        
        {% if asignaciones is empty %}
            <p class="asignaciones-message">No hay internos asignados a este taller.</p>
        {% else %}
            <table class="asignaciones-table">
                <thead>
                    <tr>
                        <th>Nombre del Taller</th>
                        <th>Cupo</th>
                        <th>Nombre Interno</th>
                        <th>Apellido Interno</th>
                        <th>Fecha de Asignación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asignacion in asignaciones %}
                        <tr>
                            <td>{{ asignacion.nombre_taller }}</td>
                            <td>{{ asignacion.cupo_taller }}</td>
                            <td>{{ asignacion.nombre_interno }}</td>
                            <td>{{ asignacion.apellido_interno }}</td>
                            <td>{{ asignacion.fecha_asignacion_taller | date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {% include "parts/cierre-modulos.view.html" %}

    {% include 'parts/footer.view.html' %}
</body>
</html>