<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
</head>

{% include 'parts/modulos.view.html' %}

    <section class="home-page__section">
        {% for card in cards %}
            <article class="home-page__card">
                <h2 class="home-page__card-title {{ card.media_size_class|default('') }}">{{ card.title }}</h2>
                <p class="home-page__card-description">{{ card.description }}</p>
                <a href="{{ card.link }}" class="home-page__button">{{ card.button_text }}</a>
            </article>
        {% endfor %}
    </section>


{% include "parts/cierre-modulos.view.html" %}

{% include 'parts/footer.view.html' %}
</body>
</html>