<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
</head>
<body class="home">
    {% include 'parts/header.view.html' %}


    <div class="container">
        <form class="form login-form" method="post">
            <h2>Iniciar Sesión</h2>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="btn-login">Iniciar Sesión</button>
        </form>
    </div>

    {% include 'parts/footer.view.html' %}
</body>
</html>