<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
</head>

{% include "parts/modulos.view.html" %}

            <section class="user-profile-container">
                <h1 class="user-profile-title">Perfil de Usuario</h1>

                <div class="user-details">
                    <p><label>Nombre de Usuario:</label> <span class="user-info">{{ usuario.usuario }}</span></p>
                    <p><label>Cuenta:</label> <span class="user-info">{{ usuario.account }}</span></p>
                    <p><label>Email:</label> <span class="user-info">{{ usuario.email }}</span></p>
                    <p><label>Destino:</label> <span class="user-info">{{ usuario.tipo_usuario }}</span></p>
                </div>

                {% if usuario.imagen %}
                <div class="user-profile-picture">
                    <img src="{{ usuario.imagen }}" alt="Foto de perfil">
                </div>
                {% endif %}
            </section>

        {% include "parts/cierre-modulos.view.html" %}

        {% include 'parts/footer.view.html' %}
    </body>
</html>
    