<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
    <link rel="stylesheet" href="/assets/css/perfil.css">
</head>
<body class="home">
    {% include 'parts/header.view.html' %}

    <main>
        <div class="user-profile-container">
            <h1 class="user-profile-title">Perfil de Usuario</h1>
            <div class="user-details">
                <p><label>Nombre de Usuario:</label> <span class="user-info">{{ usuario.usuario }}</span></p>
                <p><label>Email:</label> <span class="user-info">{{ usuario.email }}</span></p>
                <p><label>Tipo de Usuario:</label> <span class="user-info">{{ usuario.tipo_usuario }}</span></p>
            </div>
        </div>
    </main>

    {% include 'parts/footer.view.html' %}
</body>
</html>