<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'parts/head.view.html' %}
    <link rel="stylesheet" href="/assets/css/tooltips.css">
    <link rel="stylesheet" href="/assets/css/estilos.css"> <!-- Incluye el archivo CSS con los estilos para la tabla -->
</head>
<body class="home">
    {% include 'parts/header.view.html' %}

    <div class="talleres-container">
        <h1>Talleres de Reuniones</h1>
        <table class="talleres-table">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nombre</th>
                    <th>Cupo</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                {% for taller in talleres %}
                    <tr>
                        <td>{{ taller.id }}</td>
                        <td>{{ taller.nombre }}</td>
                        <td>{{ taller.cupo }}</td>
                        <td>{{ taller.descripcion }}</td>
                        <td>
                            <a href="/taller/ver_asignaciones?id_taller={{ taller.id }}">Ver</a>
                            <a href="/taller/editar?id={{ taller.id }}">Editar</a>
                            <a href="/taller/eliminar?id={{ taller.id }}">Eliminar</a>                            
                        </td>

                        <td class="{% if taller.documentPath is empty %} no-archivo {% endif %}">
                            {% if taller.documentPath is empty %}
                                No hay Archivo
                            {% else %}
                                <a href="/taller/descargar?id={{ taller.id }}">Descargar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if talleres is empty %}
            <p class="talleres-message">No hay talleres para mostrar.</p>
        {% endif %}
    </div>

    {% include 'parts/footer.view.html' %}
</body>
</html>
