<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/not-found.css">
<link rel="stylesheet" href="/assets/css/formato-tabla.css">
<link rel="stylesheet" href="/assets/css/styles-resumen.css">
<link rel="stylesheet" href="/assets/css/input-drag-and-drop.css">
<link rel="stylesheet" href="/assets/css/login_registro.css">
<link rel="stylesheet" href="/assets/css/estilos-print.css">
<link rel="stylesheet" href="/assets/css/home.css">
<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/minutas.css">
<link rel="stylesheet" href="/assets/css/talleres.css">
<link rel="stylesheet" href="/assets/css/asignaciones.css">

<script src="/assets/js/script_autocomplete.js"></script>
<script src="/assets/js/formater.js"></script>
<script src="/assets/js/drag-drop.js"></script>

<title>{{ titulo | default('DAT') }}</title>
<link rel="icon" type="image/svg+xml" href="/assets/imgs/icono-sistema.svg">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
