
<body class="home">

    <section class="main-container">
        
        {% if menu is defined and menu|length > 0 %}
        <nav class="side-nav">
            <a href="/"><article class="header_icon">
                <i class="fas {{ icono_rol }} "></i> {{ rol_usuario|capitalize }}
            </article>
            </a>
            <ul>
                {% for item in menu %}
                    <li>
                        <a href="{{ item.submenu ? '#' : item.href }}" class="menu-toggle">
                            {{ item.name }}
                            {% if item.submenu %}
                                <span class="arrow">▶</span>
                            {% endif %}
                        </a>
                        {% if item.submenu %}
                            <ul class="sub-menu">
                                {% for subitem in item.submenu %}
                                    <li><a href="{{ subitem.href }}">{{ subitem.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}    
    <section class="dynamic-content">  


